<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
    <title>Document</title>
</head>
<body>
    
    <div class="container-md bg-info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quae quisquam vel numquam? Nisi voluptatum mollitia vel impedit velit, accusamus repudiandae architecto ad asperiores recusandae obcaecati minus quis quod magni!
        Esse, debitis laudantium tenetur, excepturi voluptas hic nobis magnam assumenda, laborum asperiores sapiente ab aliquam numquam commodi accusamus ipsum. Delectus eaque amet impedit adipisci incidunt maiores consectetur soluta, quia culpa!
        Eius non minima tempore nisi adipisci quisquam, molestiae quo beatae labore at et laborum odit, dolorem modi possimus rerum? Magnam reprehenderit minus quo dicta aliquam officia labore, modi vero itaque!
        Laborum eum iusto possimus totam ea omnis vero maxime et consequuntur, aliquid, debitis in eligendi ab aliquam id porro non atque. Ipsa est nulla tenetur maiores optio accusamus, magnam iste?
        Ducimus numquam deleniti alias iusto esse qui odio tempora, soluta iure autem at et, beatae quas assumenda, earum consequuntur laudantium pariatur porro! Porro, eius obcaecati et ab est minus odio!

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>